/*

	- When to use descendent selector (combinator) ?
	- Is it a great idea to use IDs to target elements even if you know that element is going to be unique ?
	- Why should we care about css specificity ?
	- How can we harness inheritance in CSS ?
	- Is Classitis real ?;
	 

	 -(tuesday 04, 2015)shemmarrah john - li selector has been update - id = clients_image has been modified and a div called 
	 info_text has been attached including the a div#menuebar  with ul.

*/

*{margin: 0; padding: 0;}

body{
	background-color: #999;
	
}


#menue_bar{

	background-color: #777;
	height:50px;
}

#menue_bar p{

	margin: 10px 0 0 0;
	text-align: center;
	width: 100%;
	
}

ul{
	list-style: none;

}


li{
	display: inline-block;
	width: 20%;
	background-color: #444;
	float: left;
	color:#fff;
	height: 50px;
	text-align: center;
}
/*shemmarrah made changes 3-10-15*/

li:hover{
	background-color: #888;
}
/* 
	it is counter productive to repeat the same thing
	instead you can put that in one class and assing the same
	class to multiple element.
	// TODO: refactor the card ... instead of repeating ids, use class.
	// TODO: add the class .my-card and make other adjustments ...
*/
.my-card {
	position: relative;

}


.card{

	height: 100px;
	width: 25%;
	background-color: #666;
	margin-top:50px;
	float:left;
	position: relative;
	min-width: 490px;
	margin-left: 5%;

}




p{ 

	left: 100px;
	text-align: left;
	font-family: ;
	font-size: 14px;
	font-family: myFirstFont;

	}

.clients_image{

	height: 100px;
	width: 100px;
	float: left;
	
}


.clients_image_female{

	height: 100px;
	width: 100px;
	float: left;
	background-image: url(images/female2.jpg);
	background-size: 190px;
	background-repeat: no-repeat;
	background-position: top center;

	

}

img{

	max-width: 100%;
	height: 100px;
	float: left;
	border: none;
	
}


#info_text{
	height: 60px;	
	width: 100%;
	background-color:#fff;
	padding-top: 40px;

}


.ranking{

	height: 50px;
	background-color: green;
	width: 50px;
	position: absolute;
	right:20px;
	top: 15px;
	position: absolute;
	border-radius: 50px;

}

.ranking p{

	text-align: center;
	padding-top: 15px;
	color: #fff;
}
.money_raised{
	height: 20px;
	width: 100px;
	position: absolute;
	right:0;
	bottom: 0;
	position: absolute;

}


.money_raised p{
	
	text-align: center;

}

@font-face {
    font-family: myFirstFont;
    src: url(fonts/Brandon_thin_it.otf);
    src: url(fonts/Brandon_reg_it.otf);
    src: url(fonts/Brandon_med.otf);
   
}









