/*

	- When to use descendent selector (combinator) ?
	- Is it a great idea to use IDs to target elements even if you know that element is going to be unique ?
	- Why should we care about css specificity ?
	- How can we harness inheritance in CSS ?
	- Is Classitis real ?;
	 

	 -(tuesday 04, 2015)shemmarrah john - li selector has been update - id = clients_image has been modified and a div called 
	 info_text has been attached including the a div#menuebar  with ul.

*/

*{margin: 0; padding: 0;}

body{
	background-color: #999;
	
}


#menue_bar{

	background-color: #777;
	height: 50px;
}

#menue_bar p{

	margin: 10px 0 0 0;
	text-align: center;
	width: 100%;
	
}

ul{
	list-style: none;

}


li{
	display: inline-block;
	width: 20%;
	background-color: #444;
	float: left;
	color:#fff;
	height: 50px;
	text-align: center;
}


li:hover{
	background-color: #888;
}
/* it is counter productive to repeat the same thing
	instead you can put that in one class and assing the same
	class to multiple element.
	// TODO: refactor the card ... instead of repeating ids, use class.
	// TODO: add the class .my-card and make other adjustments ...
*/
.my-card {
	position: relative;
}
#card{

	height: 100px;
	width: 25%;
	background-color: #666;
	margin-top:200px;
	float:left;
	position: relative;
	min-width: 490px;
	margin-left: 5%;

}

#card2{

	height: 100px;
	width: 25%;
	background-color: #666;
	margin-top:200px;
	float:left;
	position: relative;
	min-width: 490px;
	margin-left: 5%;
}
#card3{

	height: 100px;
	width: 25%;
	background-color: #666;
	margin-top:200px;
	float:left;
	position: relative;
	min-width: 490px;
	margin-left: 5%;
}



#card4{

	height: 100px;
	width: 25%;
	background-color: #666;
	margin-top:100px;
	float:left;
	position: relative;
	min-width: 490px;
	margin-left: 5%;
}


#card5{

	height: 100px;
	width: 25%;
	background-color: #666;
	margin-top:100px;
	float:left;
	position: relative;
	min-width: 490px;
	margin-left: 5%;
}


#card6{

	height: 100px;
	width: 25%;
	background-color: #666;
	margin-top:100px;
	float:left;
	position: relative;
	min-width: 490px;
	margin-left: 5%;
}


#card7{

	height: 100px;
	width: 25%;
	background-color: #666;
	margin-top:100px;
	float:left;
	position: relative;
	min-width: 490px;
	margin-left: 5%;
}

#card8{

	height: 100px;
	width: 25%;
	background-color: #666;
	margin-top:100px;
	float:left;
	position: relative;
	min-width: 490px;
	margin-left: 5%;
}

#card9{

	height: 100px;
	width: 25%;
	background-color: #666;
	margin-top:100px;
	float:left;
	position: relative;
	min-width: 490px;
	margin-left: 5%;
}


#card10{

	height: 100px;
	width: 25%;
	background-color: #666;
	margin-top:100px;
	float:left;
	position: relative;
	min-width: 490px;
	margin-left: 5%;
}


p{ 
	

	left: 100px;
	width: 40%;
	text-align: left;
	font-family: ;
	font-size: 14px;
	font-family: myFirstFont;

	}

.clients_image{

	height: 100px;
	width: 100px;
	float: left;
	background-color: #777; 
	float: left;


	
}
img{

	max-width: 100%;
	height: 100px;
	float: left;


}


#info_text{
	height: 100px;	
	width: 80%;
	background-color: #fff;


}

.ranking{

	height: 20px;
	background-color: #345;
	width: 10%;
	position: absolute;
	right:0;
	top: 0;
	position: absolute;
}
.money_raised{
	height: 20px;
	background-color: #345;
	width: 11%;
	position: absolute;
	right:0;
	bottom: 0;
	position: absolute;

}




@font-face {
    font-family: myFirstFont;
    src: url(fonts/Brandon_thin_it.otf);
    src: url(fonts/Brandon_reg_it.otf);
    src: url(fonts/Brandon_med.otf);
   
}









